
h3{
    font-size: 30px;
}

#cardLogin {
    border-radius: 20%;
}

input::placeholder {
    font-size: 16px;
    opacity: 1;
}

button{
    width: 100%;
    margin: 5px;
}

.form-control-feedback {
    position: absolute;
    padding: 15px;
    right: 50px;
    pointer-events: none;
}

#eye_off {
    cursor: pointer;
    margin-left: 90px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 3px;
    background: #eee;
}

#passforgot {
    margin: 5px;
}

    #passforgot a {
        color: blue;
        text-decoration: none;
    }


.text_header {
    color: #F600FF;
    font-size: 50px;
    text-align:center;
    display: block;
}
.text_body{
    display:block;
    text-align: center;
    color:white;
    font-size: 70px;
}

.text_footer{
    display: block;
    text-align: center;
    color: white;
    font-size: 25px;
}


.btn-primary {
    margin-top: 15px;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    border-radius: 18px;
    width: 40%;
    
}

    .btn-primary:hover {
        color: white;
        background-color: rebeccapurple;
        border-color: rebeccapurple;
    }

#subRestriction {
    display:block;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 12px;
}

#choosePlan{
    color: white;
    font-size: 35px;
}

#choosePlanContainer{
    margin-top: 10%;
    margin-bottom: 20px;
}



#whatsIncluded{
    color: white;
    font-size: 12px;
    margin-bottom: 35px;
}



div ul li {
    color: rebeccapurple;
}

li span{
    color: white;
}


.card-body {
    text-align: center;
}

.card-title {
    font-size: 30px;
}

#pricePlan {
    font-size: 45px;
}

.card {
    width: 100%;
    height: 80%;
}

.btn-secondary {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    padding: 10px;
}

    .btn-secondary:hover {
        background-color: rebeccapurple;
        border-color: rebeccapurple;
    }

    #registerNavBar {
        background-color: mediumpurple;
        color: white;
        border-radius: 25px;
        font-size: 10px;
    }

#registerIndex_Title{
    display:block;
    text-align: center;
    color: white;
    font-size: 16px;
}

#registerIndex_body {
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 40px;
}

#registerIndex_footer {
    display: block;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 15px;
}

.registerIndex_cards {
    margin-top: 20px;
    height: 90%;
    background-image: linear-gradient(to right, #3D1E8D,#391D56,#320E56);
}

.registerIndex_CardTitle{
    margin-top: 20px;
    display: block;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 35px;
}

.registerIndex_CardPrice {
    display: block;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 25px;
}

.card-body ul {
    margin: 50px 0 40px -10px;
    list-style: none;

}

    .card-body ul li span::before {
        content: "+";
        color: white;
        margin-right: 5px;


    }

.registerIndex_CardPriceMonth {
    font-size: 20px;
    color: #CFC7DE;
}

.registerIndex_cardButton {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    border-radius: 25px;
    width: 95%;
    height: 50px;
    padding: 13px;
    color: white;
    margin: 10px 0 30px 0;
}

    .registerIndex_cardButton:hover {
        color: white;
    }

    #registerIndex_cards_ul li span {
        color: #CFC7DE;
        text-align: left;
        display: block;
    }

.Register_PlanContainer {
    background-color: #231340;
    border-radius: 13px;
    color: white;
    height: 50px;
    padding: 10px;
}

.RegisterFree_body{
   float: right;
   font-size: 17px;
   padding-top: 8px;
}

.RegisterFree_title {
    font-size: 17px;
}

.bi-pencil-square{
    margin-left: 12px;
}

.RegisterFree_Index{
    display: block;
    text-align: center;
    color: white;
    margin: 25px 0 0 0;

}

.createAccount{
    text-align: center;
}

.btn-danger {
    background-color: mediumpurple;
    border-color: mediumpurple;
}

    .btn-danger:hover {
        background-color: mediumpurple;
        border-color: mediumpurple;
    }

a {
    text-decoration: none;
    color: white;
}

.HorizonNavBar {
    background: #02021C;
    color: white;
    height: 60px;
    width: 100%;
   
}

.sidebar {
    background: #02021C;
    width: 100%;
    height: 650px;
    
}

.sidebar ul li a{
    font-size: 18px;
}

.dropdown {
    padding-left: 80%;
    padding-top: 10px;
}

.sidebarTitle {
    color: #F600FF;
    display: block;
    padding-left: 35px;
    font-size: 30px;
}

#home-collapse{
    margin-left: 50px;
}

.indexCards {
    background-image: linear-gradient(to right, #3D1E8D,#391D56,#320E56);
    color: white;
}

.mygroup {
    margin-top: 15px;
    width: 70%;
}

    .mygroup input {
        height: 35px;
        border-radius: 15px;
    }

.my-serch-button {
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    background-color: mediumpurple;
    border-bottom-right-radius: 15px;

}

.defaultproduct-cards {
    height: 98%;
    width: 17.5rem;
    border-radius: 12px;
}

.defaultproduct-cards p,h5 {
    text-align: left;
}

.defaultproduct-cards h5{
    font-size: 22px;
    margin-top: 13px;
}

.defaultproduct-cards span{
    display: block;
}

.code-bar-span {
    margin-top: 10px;
}

.defaultproduct-cards-button{
    background-color: mediumpurple;
    border-color: mediumpurple;
    width: 70%;
    border-radius: 18px;
}


.card-img-top{
    height: 130px;
    width: 130px;
    display: block;
    width: 100%;
}

.add-new-container{
    margin-top: 10px;
}

    .add-new-container button {
        background-color: #900295;
        border-color:  #900295;
        width: 100%;
        border-radius: 10px;
    }

.table-container{
    margin-top: 20px;
}

.table-container table {
    color: white;
}

.thead-dark {
    background-image: linear-gradient(to right, #3D1E8D,#391D56,#320E56);
    height: 50px;
}

.table-container table tbody {
    background-color: white;
}

.table-container a,td {
    color: lightslategray;
}

.modal-header {
    background-image: linear-gradient(to right, #3D1E8D,#391D56,#320E56);
    color: white;
}

.modal-header a {
    text-decoration: none;
    font-size: 30px;
}

.modal-footer{
    height: 50px;
}

.close{
    width: 35px;
    border-color: white;
}

.modal-footer button{
    background-color: mediumpurple;
    border-color: mediumpurple;
    border-radius: 10px;
    width: 70%;
    margin-right: 73px;
    height: 40px;
}

.myContainerBody{
    float: left;
    width: 75%;
}

.btn-outline-primary{
    border-color: rebeccapurple;
}

    .btn-outline-primary:hover {
        background-color: rebeccapurple;
        border-color: rebeccapurple;
    }

td button {
    width: 40%;
}

.confirmationDialog {
    display: flex;
    align-content: center;
    height: 60px;
    
}

    .confirmationDialog button {
        width: 20%;
        margin-right: 20px;
    }

.confirmationDialog a {
    width: 20%;
    background-color: mediumpurple;
    border-color: mediumpurple;
    border-radius: 10px;
    height: 40px;
    margin-right: 130px;
}

.modal-text {
    text-align: center;
    font-size: 21px;
}

.myproduct-icon-container {
    text-align: right;
}

.myproduct-icon-container button {
    width: 0;
    padding: 0;
    margin-right: 20px;
}

.alert {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
}

         

.input-validation-span {
    font-size: 14px;
    
}

.card-text span {
    margin: 0;
}

.dash-card-container {
   height: 100%;
}

.dash-card-text span{
    margin-top: -8px;
    display: block;
}

.dash-card-title {
    font-size: 20px;
    margin-top: -10px;
    margin-left: -9px;
    margin-bottom: 20px;
}

.dash-span-current {
    font-size: 36px;
    font-weight: bold;
}

.dash-span-porcent {
    color: green;
    font-size: 26px;
}

.dash-span-text {
    color: darkgrey;
    font-size: 10.5px;
}

.productAlert-left{
    float: left;
    width: 20%;
}

    .productAlert-left img {
        width: 100%;
        height: 100px;
    }

.productAlert-right{
    text-align: left;
    float: right;
    width: 80%;

}

.productAlert-text span {
    display: block;
    font-size: 16px;
}

.productAlert-circle {
    padding-left: 80%;
}

.chats-container {
    margin-top: 10px;
}


.bills_left {
    padding-top: 10px;
    float: left;
    width: 80%;
}

.bills_right {
    float: right;
    width: 20%;
}


.btn-sm{
    width: 15%;
}



#bill_card_footer button {
    float: left;
}

#bill_card {
    height: 500px;
}

#loginContainer{
    margin-top: 15px;
}

#CashierIndexContainer {
    margin-top: 70px;
}

#billsFooterLeft {
    width: 20%;
    float: left;
}

#billsFooterRight {
    width: 50%;
    float: right;
}

#selectClient {
    margin-top: 4px;
    height: 31px;
    width: 100%;
    border-right-width: 0;
    padding: 0;
    padding-left: 5px;
}

#btn_remove_products {
    width: 90%;
    font-size: 13px;
}

#btn_bill {
    width: 90%;
    font-size: 13px;
}
   

#btnBillForClient {
    width: 30%;
}

#Cashier_Client_Container{
    margin-top: 5px;
    height: 60%;
}

#homepageUserContainer {
    margin-top: 100px;
}

.ml-1 {
    margin-left: 0px;
}

#card_product_name{
    font-size: 25px;
}

