@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container-fluid mycontainer">
    <div class="col-12">
        <div class="HorizonNavBar">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>John Doe</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cerrar Session</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container">
            <div align="right" class="col-4 offset-8 search-div">
                <form>
                    <div class="input-group mygroup">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark my-serch-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card defaultproduct-cards">
                        <div class="card-body">
                            <img src="https://foodtruckdominicana.com/wp-content/uploads/2019/12/CATCHUP-FAMOSA-9gr.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">Ketchup La famosa  - 20340343</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                                <span class="code-bar-span"><b>Categoría:</b> Condimento</span>
                            </p>

                            <a href="#" class="btn btn-dark defaultproduct-cards-button">Agregar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card defaultproduct-cards">

                        <div class="card-body">
                            <img src="https://almacen.do/wp-content/uploads/2020/03/Habichuelas-Rojas-La-Famosa-15-oz-Front.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">La Famosa Habichuela Rojas - 10344343</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                                <span class="code-bar-span"><b>Categoría:</b> Granos</span>
                            </p>

                            <a href="#" class="btn btn-dark defaultproduct-cards-button">Agregar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card defaultproduct-cards">
                        <div class="card-body">
                            <img src="https://assets-sirenago.s3-us-west-1.amazonaws.com/product/original/00/00/0e/9f/d83ac0ab03db8386a4044b7ef2beb79d.png" class="card-img-top" alt="...">
                            <h5 class="card-title">Harina el negrito - 20332343</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                                <span class="code-bar-span"><b>Categoría:</b> Harina</span>
                            </p>

                            <a href="#" class="btn btn-dark defaultproduct-cards-button">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

