@using Core.Application.ViewModels.Client;

@{
    List<ClientViewModel> clients = ViewBag.Clients;
    int i = 1;
}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="container-fluid" id="CashierIndexContainer">
    <div class="row">
        <div class="col-7 p-1" id="cashier_bill_container">
            <div class="col-12">
                <div class="card" id="bill_card">
                    <div class="card-header">
                        <h4 class="card-title">Factura</h4>
                    </div>
                    <div class="card-body">
                        <div id="bills-Product-Container">
                           
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" id="billsFooterLeft">
                            <button class="btn btn-danger " id="btn_remove_products" type="button">Vaciar</button>
                            <button class="btn btn-danger " id="btn_bill" type="button">Facturar</button>
                        </div>
                        <div class="btn-group" role="group"  id="billsFooterRight">
                            
                            <select class="form-control" id="selectClient">
                                <option value="0">Selecciona Cliente</option>
                                @foreach(var item in clients){
                                    <option value="@item.Id">@item.FullName</option>
                                }
                            </select>
                            <button class="btn btn-danger btn-sm" id="btnBillForClient" type="button">Facturar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 p-1" id="cashier_card_container">
            <div class="col-12" id="productContainerCashier">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Producto</h4>
                    </div>
                    <div class="card-body">
                        <div id="productCard_Container" hidden>
                            <img id="card_product_img" width="100" height="100" alt="product">
                            <h5 class="card-title text-center" id="card_product_name"></h5>
                            <p class="card-text" id="card_product_text">
                            </p>
                            <div class="m-4" id="productCardBtns">
                                <button class="btn btn-danger" id="card_product_addtobill">Añadir</button>
                                <button class="btn btn-danger" id="card_product_goback">Volver Atras</button>

                            </div>
                        </div>
                        <div id="addProduct_Container">
                            <div class="alert alert-danger" id="alert-danger-addProduct" hidden>Producto no registrado.</div>
                            <form method="post" asp-action="AddProduct" asp-controller="Cashier" id="AddProductForm">
                                <div class="m-4">
                                    <input class="form-control" type="text" placeholder="Inserta Codigo Barra" id="barcode" name="barcode" />
                                </div>
                                <input type="submit" class="btn btn-danger btn-sm" value="Buscar" />
                                <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#addNewProduct">Otro</button>
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12" id="Cashier_Client_Container">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Clientes</h4>
                    </div>
                    <div class="card-body">
                        <input id="seachTable" type="text" class="form-control" placeholder="Buscar" />
                        <table id="myTable" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Debe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in clients){
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.FullName</td>
                                        <td>$@item.Owed</td>
                                    </tr>

                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewProduct" tabindex="-1" role="dialog" aria-labelledby="addNewProductTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewProductTitle">Añadiendo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="OtherModalForm" method="post" asp-action="AddProductOther" asp-controller="Cashier">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </span>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Nombre Producto" required />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                            </svg>
                        </span>
                        <input class="form-control" id="price" name="price" type="number" placeholder="Precio Total" required />
                    </div>
                    <div class="modal-footer" align="center">
                        <button type="submit" id="btn-subtmit-other" class="btn btn-dark">Añadir</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script>
    const CashierConnectionHub = new signalR.HubConnectionBuilder().withUrl("/hubs/cashierHub").build();

    const Product_Container = document.getElementById('productCard_Container');
    const Alert_ProductNotFound = document.getElementById('alert-danger-addProduct');
    const ProductSearchContainer = document.getElementById('addProduct_Container');
    const AddProduct_Container = document.getElementById('addProduct_Container');
    const Bill_Container = document.getElementById('bills-Product-Container');
    const Card_Product_Name = document.getElementById('card_product_name');
    const Card_Product_Text = document.getElementById('card_product_text');
    const Btn_bill = document.getElementById('btn_bill');
    var _id, _name, _price;
    var productsArray = [];
    const goBack = document.getElementById('card_product_goback');
    const card_product_addtobill = document.getElementById('card_product_addtobill');

 

    var barcode = '';
    var interval;
    document.addEventListener('keydown', function (evt) {
        if (interval)
            clearInterval(interval);
        if (evt.code == 'Enter') {
            if (barcode)
                handleBarcode(barcode);
            barcode = '';
            return;
        }
        if (evt.key != 'Shift')
            barcode += evt.key;
        interval = setInterval(() => barcode = '', 20);
    });


    function handleBarcode(scanned_barcode) {
        CashierConnectionHub.invoke("AddNewProductToBill", scanned_barcode).then((result) => {
            if (result == null) {
                ShowHideAlert();
            }
            else {
            
            AddToList(result[0],result[1],result[2],false);
            ShowProductInfo(result[5], result[1], result[3], result[4], result[2]);

            }


        });
    }


    goBack.addEventListener('click', () => {
        document.getElementById('barcode').value = "";
        HideShowProductModal(false);
    });



    Btn_bill.addEventListener('click', () => {

        for (const child of Bill_Container.children) {
            let strSplit = child.children[0].textContent.split("-");
            productsArray.push([child.children[2].textContent, strSplit[0], strSplit[strSplit.length - 1]]);
        }

        BillContainer.innerHTML = '';
        ProcessBill();

    });

    function ProcessBillClient(clientId, total) {
        CashierConnectionHub.send("ProcessBillClients", clientId, total);
    }


    function ShowProductInfo(imgPath, name, desc, category, price) {

        let img = document.getElementById('card_product_img');
        img.setAttribute('src', imgPath);
        console.log(img);
        Card_Product_Name.innerText = name;
        Card_Product_Text.innerHTML = `${desc} </br>
                <span class="code-bar-span" id="card_product_category"><b>Categoría:</b>${category}</span>
                 <span class="code-bar-span" id="card_product_price">
                    <b>Precio:</b> <span style="color:green">
                    $<span style="color:black">${price}</span></span>
                 </span>`;

        HideShowProductModal(true);
      
    }
    function AddToList(id, name, price, isOther) {
        let ContainerDiv = document.createElement('div');
        let LeftDiv = document.createElement('div');
        let RightDiv = document.createElement('div');
        let Span = document.createElement('span');
        let Button = document.createElement('button');

        LeftDiv.setAttribute('class', 'bills_left');
        RightDiv.setAttribute('id', 'bills_right');
        Button.setAttribute('class', 'btn btn-danger btn-sm');
        Button.setAttribute('type', 'button')
        Span.setAttribute('hidden', true);

        if (isOther == true) {
            ContainerDiv.setAttribute('id', `bills-Product-${name}`);
            Button.setAttribute('onclick', `removeFromList("bills-Product-${name}")`);


        }
        else {
            ContainerDiv.setAttribute('id', `bills-Product-${id}`);
            Button.setAttribute('onclick', `removeFromList("bills-Product-${id}")`);
            Span.innerText = id;
        }

        LeftDiv.innerHTML = `<strong>${name}</strong> ------------------------------------------------------------------ $${price}`;
        Button.innerText = "Remover";


        ContainerDiv.appendChild(LeftDiv);
        RightDiv.appendChild(Button);
        ContainerDiv.appendChild(RightDiv);
        ContainerDiv.appendChild(Span);
        Bill_Container.appendChild(ContainerDiv);
    }

    function ProcessBill() {

        CashierConnectionHub.send("ProcessBill", productsArray);

    }

    CashierConnectionHub.on("AddNewProduct", (id, name, price, desc, category, img) => {
        if (id == 0) {
            ShowHideAlert();
        }
        else {

            ShowProductInfo(img, name, desc, category, price);
            _id = id;
            _name = name;
            _price = price;

        }
    });

    CashierConnectionHub.on("AddNewProductOther", (name, price) => {
        AddToList(0, name, price, true);
        document.getElementById('name').value = "";
        document.getElementById('price').value = "";
    });

    CashierConnectionHub.on("AddNewProductScanner", (result) => {
        console.log(result);
    });




    function fulfilled() {
        console.log("CashierHub connection is fulfilled");
    }

    function rejected() {
        console.log("CashierHub connection has been rejected");
    }

    CashierConnectionHub.start().then(fulfilled, rejected);
</script>
