@using Core.Application.ViewModels.Users;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}



<div class="container py-5 h-100" id="loginContainer">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h3 class="text-center text-white" style="font-size: 30px">Recuperar Contraseña</h3>
            <div class="card shadow-2-strong" style="border-radius: 5%;">
                <div class="card-body p-5 text-center bg-white" id="cardLogin">
                    @Html.ValidationSummary(false,"", new{@class = "text-danger"})
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show role" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    }
                    <form method="post" asp-controller="User" asp-action="ForgetPassword">

                        <div class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" asp-for="Email" class="form-control form-control-lg" placeholder="Direccion de e-mail" />
                        </div>

                        <button class="btn btn-danger btn-lg btn-block" type="submit" style="background-color: #007AFD; border-color: #007AFD; ">Enviar</button>
                        <div class="mb-3" id="passforgot">
                            <a asp-controller="User" asp-action="Login">¿Inicial Session?</a>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>