@using Core.Application.ViewModels.Users;
@model RegisterFreeViewModel
@{
    ViewData["Title"] = "Registrar";
}



<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="Register_PlanContainer">
            <h4>
                <span class="RegisterFree_title">Free</span>
                <span class="RegisterFree_body">
                    RD$0.00
                    <a asp-action="RegisterIndex" asp-controller="User">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></a>
                </span>
            </h4>
        </div>
        <span class="RegisterFree_Index">PASO 2 DE 2</span>

    </div>
</div>
<div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-90">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h3 class="createAccount text-white">Crea tu cuenta</h3>
            <div class="card shadow-2-strong" style="border-radius: 5%;">
                <div class="card-body p-4 text-center bg-white" id="cardLogin">
                    @Html.ValidationSummary(false,"", new{@class = "text-danger"})
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show role" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    }
                    <form method="post" asp-controller="User" asp-action="FreeRegister">

                        <div class="form-outline mb-4">
                            <input type="text" id="typeEmailX-2" asp-for="FirstName" class="form-control form-control-lg" placeholder="Nombre" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="typeEmailX-2" asp-for="LastName" class="form-control form-control-lg" placeholder="Apellido" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" asp-for="Email" class="form-control form-control-lg" placeholder="Direccion de E-mail" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="tel" id="typeEmailX-2" asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Telefono" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="typeEmailX-2" asp-for="Password" class="form-control form-control-lg" placeholder="Contraseña" />
                        </div>
                        <div class="form-outline mb-4">
                            <i class="ri-eye-off-line form-control-feedback" id="eye_off"></i>
                            <input type="password" id="typeEmailX-2" asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirmar Contraseña" />
                        </div>

                        <button class="btn btn-danger btn-lg btn-block" type="submit"  >Crear Cuenta</button>
                        <div class="mb-3" id="passforgot">
                            <a asp-controller="User" asp-action="Login">¿Ya estás registrado? Inicia Sesión</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>