@{
    ViewData["Title"] = "Mccool IMS";
}

<div class="container-fluid" id="homepageUserContainer">
    <div class="row">
        <div class="col-6 offset-3">
            <h3>
                <span class="text_header">A H O R R A</span>
                <span class="text_body">3 MESES</span>
                <span class="text_footer">CON EL PLAN ANUAL</span>
            </h3>

            <div align="center">
                <a class="btn btn-primary" asp-action="PremiumRegister" asp-controller="User">REGISTRATE AHORA</a>
            </div>
            <span id="subRestriction">*Aplica al plan prepago anual.</span>
        </div>
        <div class="col-12">
            <div class="row">
                <div align="center" id="choosePlanContainer">
                    <h3 id="choosePlan">Elige tu plan</h3>
                </div>
                <div class="col-4">
                    
                    <div class="card indexCards">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">Free</h5>
                            <span id="pricePlan">RD$ 0.00</span>
                            <p>Prueba Gratis 15 Dias.</p>
                            <a class="btn btn-secondary" asp-action="FreeRegister" asp-controller="User">ELIGE ESTE PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    
                    <div class="card indexCards">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">Premium</h5>
                            <span id="pricePlan">RD$ 2,899.00</span>
                            <p>12 meses*</p>
                            <a class="btn btn-secondary" asp-action="PremiumRegister" asp-controller="User">ELIGE ESTE PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
          
                    <div class="card indexCards">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">Premium</h5>
                            <span id="pricePlan">RD$ 349.00</span>
                            <p>1 mes*</p>
                            <a class="btn btn-secondary" asp-action="PremiumRegister" asp-controller="User">ELIGE ESTE PLAN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>